# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa

## Pods
Pods/
Podfile.lock

YunGeZi.xcworkspace/xcuserdata/armour.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Pods/Target Support Files/Pods-YunGeZi/Pods-YunGeZi-resources.sh

YunGeZi.xcworkspace/xcuserdata/armour.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Pods/Target Support Files/Pods-YunGeZi/Pods-YunGeZi.release.xcconfig

*.sh

Pods/Target Support Files/Pods-YunGeZi/Pods-YunGeZi-acknowledgements.plist

Pods/Target Support Files/Pods-YunGeZi/Pods-YunGeZi-acknowledgements.markdown

Pods/Target Support Files/CHTCollectionViewWaterfallLayout/CHTCollectionViewWaterfallLayout-prefix.pch

Pods/Target Support Files/Pods-YunGeZi/Pods-YunGeZi-resources.sh

Pods/Target Support Files/Pods-YunGeZi/Pods-YunGeZi.release.xcconfig
